.vote_for{
  display: flex;
  height: 250px;
  padding-top: 80px;
  flex-direction: column;
  justify-content: center;
  button {
    margin: auto ;
    width: 60%;
    background-color: $tertiary;
    border: none;
    font-weight: 600;
    color: white;
    padding: 12px;
    border-radius: 12px;
  }
}