@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: rgb(19 31 62);
    color: white;
    font-family: Spartan, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif
}

button {
    background: linear-gradient(
        25.54deg,
        #f54703 22.29%,
        #fac902 156.13%
    );
    box-shadow: 0 10px 20px rgba(245,80,3,.3);
}