.marcado:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c"; /* use the hex value here... */
    font-size: 120px;
    color: #fff;
    line-height: 220px;
    text-align: center;
}
