* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $grey-40;
  min-height: 100vh;
}
#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 12px;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}