@tailwind base;
@tailwind components;
@tailwind utilities;

.textShadow {
    text-shadow: 0 4px 5px black;
}

.backgroundGradient {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.buttonGradient {
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(225, 0, 255), #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    @apply drop-shadow-[0_3px_6px_rgba(225,0,255,0.6)]
    
}

.button {
    @apply w-fit cursor-pointer shadow-lg font-bold rounded-lg text-white buttonGradient hover:-translate-y-1 hover:shadow-xl transition-all duration-300
    cursor-pointer shadow-lg font-bold rounded-lg text-white buttonGradient hover:-translate-y-1 hover:shadow-xl transition-all duration-300
}

.selected {
    outline: none;
    box-shadow: 0 0 5px rgba(153,102,255,1);
    text-shadow: 1px 1px 2px rgb(33, 33, 33);
    @apply bg-[rgba(153,102,255,0.1)] border-[2px] border-[rgba(153,102,255,1)]/[1] 
}